<header class="page-header">
  <h1>About Us</h1>
  <div class="panel panel-default dashboard text-center">
    <h3>Our Mission:</h3>
    <h4>Our mission is to provide customers with the most useful products to strive their daily lives.</h4>
  </div>

  <div class="panel panel-default dashboard text-center">
    <h3>Our Products:</h3>
    <h4>Our products are made with top secret materials, you will never be able to find our products in any other stores!</h4>
  </div>
</header>
