// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  float: left;
}

.flex {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  a {
    display: inline!important;
  }
}
